/* line 3, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
html {
  height: 100%; }

/* line 7, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
body {
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased; }
  /* line 14, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body p {
    font-family: "Roboto", sans-serif; }
  /* line 18, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body .wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; }
  /* line 25, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body .logo {
    height: 30px; }
  /* line 29, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body a {
    text-decoration: none; }
    /* line 32, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    body a:hover {
      text-decoration: none; }
  /* line 38, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body.disabled-onepage-scroll .onepage-wrapper section {
    min-height: 100%;
    height: auto; }
  /* line 44, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body.disabled-onepage-scroll .main section.page5 .page_container,
  body.disabled-onepage-scroll .main section .page_container {
    padding: 20px;
    margin-top: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 53, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%; }
  /* line 61, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body .disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0; }
  /* line 68, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden; }
  /* line 75, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  body.disabled-onepage-scroll .main section.page4 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0; }

/* line 84, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.headings, h1, h2 {
  font-family: "Poppins", sans-serif;
  width: 100%; }

/* line 89, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
h1 {
  color: #263238;
  margin-bottom: 5px;
  font-size: 68px;
  letter-spacing: 0;
  font-weight: bold;
  line-height: 91px; }
  /* line 98, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  h1 span {
    color: #fc3c2d; }

/* line 103, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
h2 {
  color: #263238;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px; }

/* line 112, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.page1 .site-header {
  margin-top: 150px; }

/* line 117, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.main {
  float: left;
  width: 100%;
  margin: 0 auto; }
  /* line 122, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .main h1 {
    padding: 150px 50px;
    float: left;
    width: 100%;
    font-size: 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #ffffff;
    margin: 0; }

/* line 135, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
header {
  position: relative;
  z-index: 10; }

/* line 140, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.inline-block {
  display: inline-block; }

/* line 145, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.main section {
  overflow: hidden; }
  /* line 148, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .main section > img {
    position: absolute;
    max-width: 100%;
    z-index: 1; }
  /* line 153, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page1 {
    background-color: #fff;
    background: url("../../image/birdge-02_animated.svg") no-repeat bottom fixed;
    background-size: calc(100% + 30px);
    background-position: -15px 102%;
    border-bottom: 2px solid #677881; }
    /* line 161, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page1 h1 {
      text-align: center; }
  /* line 165, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page2 {
    background-color: #f7f9f8; }
    /* line 168, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 > img {
      position: absolute;
      top: -300px;
      left: 50%;
      margin-left: -1095px; }
    /* line 175, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 .page_container {
      margin-top: 240px;
      overflow: hidden; }
    /* line 181, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 h1 {
      margin-top: 40px;
      margin-bottom: -10px;
      text-align: center; }
    /* line 187, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 .view-more {
      width: 216px; }
      /* line 193, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
      .page2 .view-more a {
        font-size: 17px;
        font-family: "Roboto";
        color: #263238;
        font-weight: bold; }
    /* line 201, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 .secondory-text {
      font-size: 21px;
      color: #263238;
      text-align: center; }
    /* line 207, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 .protolio-container {
      position: absolute;
      top: 30%; }
    /* line 212, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page2 .portfolio-items {
      text-align: center;
      background-color: transparent;
      border: none; }
      /* line 217, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
      .page2 .portfolio-items h3 {
        font-size: 21px;
        font-weight: bold;
        font-family: "Poppins", sans-serif; }
  /* line 227, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 h1 {
    margin-top: 50px;
    text-align: center; }
  /* line 232, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 h3 {
    font-size: 21px;
    font-weight: bold;
    font-family: "Poppins", sans-serif; }
  /* line 238, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 .media {
    margin-bottom: 7%; }
  /* line 242, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 .media-heading {
    vertical-align: middle; }
  /* line 246, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 .media-left {
    padding-right: 70px; }
  /* line 254, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 .service-text {
    vertical-align: middle; }
  /* line 258, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 .services-container {
    display: block;
    margin-top: 15%; }
  /* line 263, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page3 .illustration {
    height: 95px; }
  /* line 268, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page4 {
    background: url("../../image/team.jpg") no-repeat;
    background-size: 100%;
    text-align: center; }
    /* line 273, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page4 h1 {
      margin-top: 50px; }
  /* line 278, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page5 h1 {
    margin-top: 40px;
    text-align: center; }
  /* line 283, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page5 h2 {
    font-size: 32px;
    font-family: "Poppins";
    color: #90a4ad; }
  /* line 289, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page5 #map {
    height: 260px; }
  /* line 293, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page5 #map2 {
    height: 260px; }
  /* line 297, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page5 .mapcontainer {
    margin-top: 4%; }
    /* line 300, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page5 .mapcontainer address {
      font-size: 17px;
      font-family: "Roboto";
      color: #546e7a;
      text-align: left;
      margin-left: -15px;
      margin-top: 3%;
      line-height: 34px; }
      /* line 309, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
      .page5 .mapcontainer address .phone {
        text-align: right; }
  /* line 315, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .page5 .follow-us {
    text-align: center;
    font-size: 13px;
    font-family: "Poppins";
    margin-top: 2%; }
    /* line 321, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page5 .follow-us .icons {
      margin-top: 2%; }
      /* line 323, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
      .page5 .follow-us .icons .social-icons {
        margin-right: 40px;
        color: #90a4ad; }
    /* line 330, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page5 .follow-us button.mdi::before,
    .page5 .follow-us i.mdi::before,
    .page5 .follow-us span.mdi::before {
      font-size: 54px;
      line-height: 13px; }
    /* line 338, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
    .page5 .follow-us a .social-icons {
      margin-left: 10px; }

/* line 347, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.main section.page1 h1,
.main section.page2 h1,
.main section.page3 h1,
.main section.page4 h1,
.main section.page5 h1 {
  padding: 0;
  font-size: 68px;
  letter-spacing: -1px;
  color: #263238; }

/* line 358, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.main section.page1 h2,
.main section.page2 h2,
.main section.page3 h2,
.main section.page4 h2,
.main section.page5 h2 {
  line-height: 160%;
  font-weight: 100; }

/* line 369, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #263238;
  color: #f7f9f8;
  text-align: center; }
  /* line 381, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .footer button.mdi::before,
  .footer i.mdi::before,
  .footer span.mdi::before {
    font-size: 15px;
    line-height: 13px; }
  /* line 388, C:/Users/JaninduR/Documents/hexweb/stylesheets/scss/modules/global.scss */
  .footer i {
    color: #fc3c2d; }

/*# sourceMappingURL=../../css/modules/global.map */