body {
    font-family: $normal-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $font-color;
    font-size: 16px;
}

.hex-logo {
    width: 150px;
    margin: 20px;
}

h1 {
    @include common-heading(40px);
    letter-spacing: -1px;
    line-height: 58px;
    span {
        color: $hex-primary-color;
    }
}

h2 {
    @include common-heading(30px);
    font-weight: normal;
}

h3 {
    @include common-heading(19px);
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

.section-title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    .secondory-text {
        font-size: 21px;
        color: $dark-font-color;
    }
}
.highlighted-text{
    color: $hex-primary-color;
}
.bold-text{
    font-weight: bold;
}
.primary-button{
    background-color: $hex-primary-color;
    @include rounded-corners(10px);
    color: #fff;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;
}
//main navigation
.navbar-hex {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 80px 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 99;
    
    li {
        list-style: none;
        margin-left: 20px;
        cursor: pointer;
        font-size: 30px;
        padding-bottom: 22px;
    }
    li:hover {
        color: $hex-red;
    }
}

//overriding bootstrap modal popup classes
.modal-content {
    padding: 10px;
}

.modal-footer {
    padding: 15px 5px 5px 5px;
    border-top-width: 0;
}

.mobile-menu-button {
    width: 40px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 100;
    right: 0;
    margin: 25px;
    background-size: 35px;
    background-repeat: no-repeat;
    cursor: pointer;
    &.open {
        background-image: url(../images/hamburger.png);
    }
    &.close {
        background-image: url(../images/close.png);
    }
}

@media (min-width: 992px) {
    h1 {
        @include common-heading(68px);
        line-height: 91px;
    }
    h3 {
        @include common-heading(21px);
    }
    .section-title {
        margin-top: 100px;
    }
    .navbar-hex {
        display: inline-block !important;
        float: right;
        position: inherit;
        margin: 25px 30px;
        padding: 0;
        li {
            display: inline-block;
            font-size: 16px;
            padding-bottom: 0;
        }
    }
    .mobile-menu-button {
        display: none;
    }
}