$font-color:#546e7a;
$dark-font-color:#263238;
$hex-primary-color:#fc3c2d;
$hex-dark-grey:#333333;
$hex-mid-grey:#dce2e3; 
$hex-light-grey:#f7f9f8;
$hex-red:#fc3c2d;
$normal-font:'Roboto', sans-serif;
$heading-font:'Poppins', sans-serif;

