//colors

$white:#ffffff;
$red:#fc3c2d;
$lightGray:#f7f9f8;
$Gray:#677881;
$DarkGray: #263238;
$BlueGray:#90a4ad;
$textcolor:#546e7a;



// Fonts
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;
