@import '../partials/_variables.scss';

html {
    height: 100%;
}

body {
    padding: 0;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;

    p {
        font-family: $Roboto;
    }

    .wrapper {
        height: 100% !important;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .logo {
        height: 30px;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    &.disabled-onepage-scroll {
        .onepage-wrapper section {
            min-height: 100%;
            height: auto;
        }

        .main section {
            &.page5 .page_container,
            .page_container {
                padding: 20px;
                margin-top: 150px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            &.page1 > img {
                position: absolute;
                width: 80%;
                left: 10%;
            }
        }
    }

    .disabled-onepage-scroll .main section > img {
        position: relative;
        max-width: 80%;
        bottom: 0;
    }

    &.disabled-onepage-scroll {
        code {
            width: 95%;
            margin: 0 auto 25px;
            float: none;
            overflow: hidden;
        }

        .main section.page4 .page_container {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            right: 0;
        }
    }
}

.headings {
    font-family: $Poppins;
    width: 100%;
}

h1 {
    @extend .headings;
    color: #263238;
    margin-bottom: 5px;
    font-size: 68px;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 91px;

    span {
        color: $red;
    }
}

h2 {
    @extend .headings;
    color: $DarkGray;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
}

.page1 {
    .site-header {
        margin-top: 150px;
    }
}

.main {
    float: left;
    width: 100%;
    margin: 0 auto;

    h1 {
        padding: 150px 50px;
        float: left;
        width: 100%;
        font-size: 45px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        color: $white;
        margin: 0;
    }
}

header {
    position: relative;
    z-index: 10;
}

.inline-block{
    display:inline-block;
}

.main {
    section {
        overflow: hidden;

        > img {
            position: absolute;
            max-width: 100%;
            z-index: 1;
        }
        @at-root .page1 {
            background-color: #fff;
            //text-indent: -9999px;
            background: url('../../image/birdge-02_animated.svg')no-repeat bottom fixed;
            background-size: calc(100% + 30px);
            background-position: -15px 102%;
            border-bottom: 2px solid $Gray;

            h1 {
                text-align: center;
            }
        }
        @at-root .page2 {
            background-color: $lightGray;

            > img {
                position: absolute;
                top: -300px;
                left: 50%;
                margin-left: -1095px;
            }

            .page_container {
                margin-top: 240px;
                overflow: hidden;

            }

            h1 {
                margin-top: 40px;
                margin-bottom: -10px;
                text-align: center;
            }

            .view-more {
                //    margin: 0 auto;
                width: 216px;
                //    position: absolute;
                //  left: 25%;
                //    top: 100%;
                a {
                    font-size: 17px;
                    font-family: "Roboto";
                    color: rgb(38, 50, 56);
                    font-weight: bold;
                }
            }

            .secondory-text {
                font-size: 21px;
                color: $DarkGray;
                text-align: center;
            }

            .protolio-container {
                position: absolute;
                top: 30%;
            }

            .portfolio-items {
                text-align: center;
                background-color: transparent;
                border: none;

                h3 {
                    font-size: 21px;
                    font-weight: bold;
                    font-family: $Poppins;
                }
            }
        }

        @at-root .page3 {

            h1 {
                margin-top: 50px;
                text-align: center;
            }

            h3 {
                font-size: 21px;
                font-weight: bold;
                font-family: $Poppins;
            }

            .media{
                margin-bottom: 7%;
            }

            .media-heading{
                vertical-align: middle;
            }

            .media-left{
                padding-right:70px;
            }

            .media-body{
                vertical-align: middle;
            }

            .service-text{
                vertical-align: middle;
            }

            .services-container{
                display: block;
                margin-top: 15%;
            }

            .illustration{
                height: 95px;
            }
        }

        @at-root .page4 {
            background: url('../../image/team.jpg')no-repeat;
            background-size: 100%;
            text-align: center;

            h1 {
                margin-top: 50px;
            }
        }
        @at-root .page5 {
            h1 {
                margin-top: 40px;
                text-align: center;
            }

            h2 {
                font-size: 32px;
                font-family: "Poppins";
                color: $BlueGray;
            }

            #map {
                height: 260px;
            }

            #map2 {
                height: 260px;
            }

            .mapcontainer {
                margin-top: 4%;

                address {
                    font-size: 17px;
                    font-family: "Roboto";
                    color: $textcolor;
                    text-align: left;
                    margin-left: -15px;
                    margin-top: 3%;
                    line-height: 34px;

                    .phone {
                        text-align: right;
                    }
                }
            }

            .follow-us {
                text-align: center;
                font-size: 13px;
                font-family: "Poppins";
                margin-top: 2%;

                .icons {
                  margin-top: 2%;
                  .social-icons{
                    margin-right: 40px;
                      color: $BlueGray;

                  }
                }

                button.mdi::before,
                i.mdi::before,
                span.mdi::before {
                    font-size: 54px;
                    line-height: 13px;
                }

                a {
                    .social-icons {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    section {
        &.page1 h1,
        &.page2 h1,
        &.page3 h1,
        &.page4 h1,
        &.page5 h1 {
            padding: 0;
            font-size: 68px;
            letter-spacing: -1px;
            color: $DarkGray;
        }

        &.page1 h2,
        &.page2 h2,
        &.page3 h2,
        &.page4 h2,
        &.page5 h2 {
            line-height: 160%;
            font-weight: 100;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: $DarkGray;
    color: $lightGray;
    text-align: center;

    button.mdi::before,
    i.mdi::before,
    span.mdi::before {
        font-size: 15px;
        line-height: 13px;
    }

    i {
        color: $red;
    }
}
